<div class="container-fluid">
  
    <div class="account-user-container">
  
      <div class="row account-container">
  
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-start">
  
          <mat-icon class="account">account_circle</mat-icon>
  
          <div class="row-container user-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 username-container">
              Bienvenido, <b>Ariel!</b>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 score-container">
              Tenes <b>108</b> puntos disponibles
            </div>
          </div>        
  
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end">
      
          <img src="/assets/image/logo.png" class="image-logo"/>
        
        </div>
  
      </div>
  
      <div class="content-action">
  
        <div style="width: 100%; margin-bottom: 24px;">
          <h2 class="content-title">Tus facturas cargadas</h2>
        </div>
      
      </div>

      <div *ngIf="!isEmpty">
  
        <mat-card class="invoice-view-container" *ngFor="let invoice of invoices">
            
          <div class="row" style="margin-bottom: 24px;">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <mat-form-field floatLabel="auto" style="width: 100%;" >
                <mat-label>Tipo factura</mat-label> 
                <input matInput type="text" [value]="invoice.type" name="type" readonly />
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
              <mat-form-field floatLabel="auto" style="width: 100%;" >
                <mat-label>Número factura</mat-label> 
                <input matInput type="text" [value]="invoice.number" name="number" readonly />
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <mat-grid-list cols="1" rowHeight="80px">
                  <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1"
                    >{{invoice.points | number: '1.2-2'}}
                  </mat-grid-tile>
                  <mat-label class="invoice-points">Puntos</mat-label> 
              </mat-grid-list>
            </div>
          </div>

          <div class="row" *ngFor="let product of invoice.products">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <mat-form-field floatLabel="auto" style="width: 100%;" >
                    <mat-label>CATEGORÍA</mat-label> 
                    <input matInput type="text" [value]="product.categoryName" name="categoryName" readonly />
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                  <mat-form-field floatLabel="auto" style="width: 100%;" >
                    <mat-label>PRODUCTO</mat-label> 
                    <input matInput type="text" [value]="product.name" name="productName" readonly />
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <mat-form-field floatLabel="auto" style="width: 100%;">
                    <mat-label>CANTIDAD</mat-label> 
                    <input matInput type="text" [value]="product.count" name="count" readonly />
                  </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 upload-invoice-btn-container">
                  <button
                    class="d-flex justify-content-end add-product-btn" style="font-size: 8px;"
                    color="primary"
                    mat-raised-button mat-icon-button
                    (click)="editProduct(invoice, product)"
                  >
                    EDITAR
                  </button>
                  <button
                    class="d-flex justify-content-end add-product-btn" style="font-size: 8px;"
                    color="primary"
                    mat-raised-button mat-icon-button
                    (click)="deleteProduct(invoice, product)"
                  >
                    BORRAR
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 d-flex justify-content-start upload-invoice-btn-container">
              <button
                class="d-flex justify-content-start upload-invoice-btn"
                color="primary"
                mat-raised-button
                (click)="cancelInvoice(invoice)"
              >
                CANCELAR FACTURA
              </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 d-flex justify-content-start upload-invoice-btn-container">
              <button
                class="d-flex justify-content-start add-product-btn"
                color="primary"
                mat-raised-button mat-icon-button
                (click)="addProduct(invoice)"
              >
                AGREGAR PRODUCTO<mat-icon class="add-product-icon">add</mat-icon>
              </button>
            </div>
          </div>
          
        </mat-card>
        
      </div>
  
    </div>
  
</div>
